{% extends "index_layout.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
   
</head>

<body>
{% block content %}
    <section class="home" id="home">
        <div class="text">
            <h1><span style="color:red;font-weight:bold">Looking</span><br>for<br>rent a Bike?</h1>
            <p> We are here to serve you , you can visit our site and a bike as per your convinence there are lots of option to rent a Bike.We can drop the bike at any station bike sharing start after the first free half hour in order to encourage the user to return the bicycle at the end of each trip, and take another bicycle for the next trip...

            </p>
            <!-- <div class="app-stores">
                <img src="" alt="">
                <img src="" alt=""> 
            </div> -->
        </div>
    </section>
    <section class="ride" id="ride">
        <!-- <br><br> -->
        <div class="heading">
            <span>How it works</span>
            <h1> Rent with 3 Easy Steps</h1>
        </div>
        <div class="ride-container">
            <div class="box">
                <i class="bi bi-geo-alt-fill"></i>
                <h2>Choose a location</h2>
                <p>Choose your loction to pickup the bike, If you want to chnage the location then you can chnage the location 
                    and whatever location do you want for the pickup the bike
                     you can mention it is very eassy and efficinet at your convinence.
                </p>
            </div>
            <div class="box">
                <i class="bi bi-calendar-fill"></i>
                <h2>Pick-Up Date</h2>
                <p>Choose your pickup date as your comfort it is up to you that ,
                    In which do you want take a ride and for day or for hours,and if you 
                    consider a date then you want change your date befor take bike then you
                     can change your date very eassily at your comfort zone.
                </p>
            </div>
            <div class="box">
                <i class="bi bi-check2-square"></i>
                <h2>Book a Bike</h2>
                <p>At first choose your bike then Book as per your convience and comfort ,
                    we are here to provide Best bike Rental Service.Also you can rent more bike at the same time,
                So if you looking for a good conditioning bike then we are here to help,go to signup and book a bike.</p>
            </div>
        </div>
    </section>
     <section class="services" id="services">
        <br>
        <div class="heading">
            <span>Best Services</span>
            <h1>Explore Out Top Deals<br>From Top Rated Dealers</h1>
        </div>
        <div class="services-container">
            <div class="box">
                <div class="box-img">
                    <img src="../static/images/service_image1.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Kawasaki Versity</h3>
                <h2>₹1,70,000 | ₹599<span>/day</span></h2>
                <a href="#" class="btn">Rent Now</a>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="../static/images/service_image2.jpg" alt="">
                </div>
                <p>2019</p>
                <h3>2019 Super Scooter</h3>
                <h2>₹1,12,000 | ₹399<span>/day</span></h2>
                <a href="#" class="btn">Rent Now</a>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="../static/images/service_image3.jpg" alt="">
                </div>
                <p>2014</p>
                <h3>2020 Royal Enfield</h3>
                <h2>₹2,35,000 | ₹799<span>/day</span></h2>
                <a href="#" class="btn">Rent Now</a>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <br>
        <div class="heading">
            <span>About us</span>
            <h1>Best Customer Experience</h1>
        </div>
        <div class="about-container">
            <div class="about-img">
                <img src="../static/images/about.jpg" alt="">
            </div>
            <div class="about-text">
                <span>About Us</span>
                <p>A bike rental or bike hire business rents out bicycles for short periods of time, usually for a few hours or a day. Most rentals are provided by bike shops as a sideline to their main businesses of sales and service, but shops specialize in rentals.
                </p>
                <p>As with car rental, bicycle rental shops primarily serve people who do not have access to a vehicle, typically travellers and particularly embers and others charge a monthly or yearly fee. Most such systems allow a member to sign out a bike from any station for up to half an hour of free use, enough for most commuters to travel to their destination where they can drop the bike at any station bike sharing start after the first free half hour in order to encourage the user to return the bicycle at the end of each trip, and take another bicycle for the next trip.
                </p><br>
                <a href="#" class="btn">Learn more</a>
            </div>
        </div>
    </section>
    <section class="reviews" id="reviews">
        <br>
        <div class="heading">
            <span>reviews</span>
            <h1>Whats Our Customer Say</h1>
        </div>
        <div class="reviews-container">
            <div class="box">
                <div class="rev-img">
                    <img src="../static/images/review1.jpg" alt="">
                </div>
                <h2>Inderjeet Ahuja</h2>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                </div>
                <p>Clean and neat Apache bike. Available at airport. Had a comfortable drive on my trip. Perfect for vacation.</p>
            </div>
            <div class="box">
                <div class="rev-img">
                    <img src="../static/images/review2.jpg" alt="">
                </div>
                <h2>Shanaya</h2>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
                <p>Excellent service. Bike was very clean and in good condition. 
                    Managed to get me a rental bike in very short amount of time. Would definitely recommend</p>
            </div>
            <div class="box">
                <div class="rev-img">
                    <img src="../static/images/review3.jpg" alt="">
                </div>
                <h2>Abhijeet</h2>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
                <p>The service was great. Both pickup and drop were on time. 
                    The provided vehicle was in great condition; however, it's a must to record a video of 
                    the whole bike and its scratches at pickup—overall happy with the service.

                </p>
            </div>
            <div class="box">
                <div class="rev-img">
                    <img src="../static/images/review4.jpg" alt="">
                </div>
                <h2>Bob David</h2>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                </div>
                <p>Had a great experience with this Company. Highly recommend them. Thanks to all the staff . Very cooperative throughout.</p>
            </div>
            <div class="box">
                <div class="rev-img">
                    <img src="../static/images/review5.jpg" alt="">
                </div>
                <h2>Akriti Singh</h2>
                <div class="stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                    <i class="bi bi-star"></i>
                </div>
                <p>Had a very nice and safe journey without any trouble with the vehicle in between.
                    I recommend this travels.</p>
            </div>
        </div>
    </section> 
    <section class="newsletter">
        <h2>Subscribe to Newsletter</h2>
        <div class="box">
            <input type="email" placeholder="Enter Your Email...">
            <a href="#" class="btn">Subscribe</a>
        </div>
    </section>
{% endblock %}
   
</body>

</html>